<% @title = "Become a volunteer"%>

<%= render "shared/goback" %>
<%
 	default_first_name = (current_user)? current_user.first_name : nil
 	default_last_name = (current_user)? current_user.last_name : nil 
 	default_email = (current_user)? current_user.email : nil 
%>

<%= form_for(@volunteer ) do |f| %>
	

	<% if @volunteer.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@volunteer.errors.count, "error") %> prohibited this volunteer from being saved:</h3>

	      <ul>
	      <% @volunteer.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2><%= @volunteer_need.name%></h2>

	<h3 class="slimit"><%= @volunteer_need.description %></h3>	  
    </div>

    <div class="large-12 columns">
	<div>	
	    <p class="slimit">

	    	<%= "#{@volunteer_need.start_date.strftime('%A %B %d at %I:%M %p')} to #{@volunteer_need.end_date.strftime('%A %B %d at %I:%M %p')}" %>
	    </p>
	</div>
    </div>
 

    <div class="large-12 columns">
	<div>	
	    <p class="slimit"><%= @volunteer_need.address %></p>
	</div>
    </div> 
    <div class="large-6 columns">
	<div>
	    
	    <%= text_field :volunteer, :first_name, :value=>default_first_name, :placeholder => "first name", :class => "animation-color cascade-single" %>
	</div>
    </div> 
    <div class="large-6 columns">
	<div>
	    
	   <%= text_field :volunteer, :last_name, :value=>default_last_name, :placeholder => "last name", :class => "animation-color cascade-single"%>
	</div>
    </div> 
    <div class="large-6 columns">
	<div>
	    
	    <%= text_field :volunteer, :phone_number, :placeholder => "phone number", :class => "animation-color cascade-single"%>
	</div>
    </div> 

    <div class="large-6 columns">
	<div>
	    
	    <%= text_field :volunteer, :email, :value => default_email, :placeholder => "Email", :class => "animation-color cascade-single"%>
	</div>
    </div> 

    <div class="large-6 columns">
	<div>
		<%= hidden_field :volunteer, :volunteer_need_id, :value=> @volunteer_need.id %>
	    <%= f.submit "Volunteer",:class => "animation-color button-submit cascade-single right"  %>
	    
	</div>
    </div> 


</div>
	
	<% end %>
	
	<%= render "shared/footer" %>