Follow Causes
<%= form_for(@user,  :url => '/profiles/update') do |f| %>  

<% for cause in Cause.find(:all) %>
<div>
  <% causeFollowId= "causeFollow#{cause.id}" %>
  <%= check_box_tag "user[cause_ids][]", cause.id, @user.causes.include?(cause), :id => causeFollowId %>
  <label for="<%= causeFollowId %>">
    <span class="animation-color"></span><%= cause.name %>
</label>


</div>
<% end %>

<div class="actions">
   <%= f.submit "Update followed causes" %>
</div>

<% end %>

