<%= render "shared/mainheader" %>

<div class="home-tiles-container mlimit-top">
    <div class="home-tiles-group">
	
	<div class="home-tile-single tile-2-2 nopadding" style="background: url(<%= @user.avatar.url%>) center;background-size: cover"></div>
	<div class="home-tile-single tile-2-2 text-center">
	    <h2>AMBASSADOR LEVEL</h2>
	    <h1 class="big-number"><%= @user.level%></h1>
	</div>	
	<div class="home-tile-single tile-4-4">
	    <h2><%= @user.display_name %></h2>
	    <h4 class="mlimit secondary">Chicago, IL</h4>
	    <%= link_to "Edit", profiles_edit_path %>
	    <h3><%= @user.bio%></h3>
	    <h2 class="yellow-text mlimit-top">Ways <%= @user.first_name %> has helped</h2>

	    

	</div>
    </div>
    <div class="home-tiles-group">

    <% @featured_causes.each do |cause| %>
	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag(cause.picture.url, :alt => "Rails") %>
	   
	    
	    <div class="columns">
		<h3 class="bold"><%= cause.name %></h3>
		<h4 class="tertiary"><%= "#{cause.city}, #{cause.state}" %></h4>
	    </div>
	    
	    <%= render "shared/tilebutton" %>
	</div>
	<% end %>

	
    </div>
    <div class="home-tiles-group">

	<div class="home-tile-single tile-4-2"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div>
     <div class="home-tiles-group">

	<div class="home-tile-single tile-2-1"></div>
	<div class="home-tile-single tile-2-1"></div>
	<div class="home-tile-single tile-2-1"></div>
	
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div> 
	
    
  
</div>





<div>
    <%=  render "follow_form" %>
</div>
<%= render "shared/mainfooter" %>