<%= render "shared/mainheader" %>

<div class="home-tiles-container mlimit-top">
    <div class="home-tiles-group">
	
	<div class="home-tile-single tile-2-2 nopadding" style="background: url(<%= @user.avatar.url%>) center;background-size: cover"></div>
	<div class="home-tile-single tile-2-2 text-center small-height-auto">
	    <div class="mlimit mlimit-top">
	    <h2>AMBASSADOR LEVEL</h2>
	    <h1 class="big-number"><%= @user.level%></h1>		
	    </div>

	</div>	
	<div class="home-tile-single tile-4-4 small-height-auto">
	    <h2><%= @user.display_name %></h2>
	    <h4 class="mlimit secondary">Chicago, IL</h4>
	    <div class="cyan-button"><%= link_to "Edit profile", profiles_edit_path %></div>
	    <h3><%= @user.bio%></h3>
	    <h2 class="yellow-text mlimit-top">Ways <%= @user.first_name %> has helped</h2>

	    

	</div>
    </div>
    <div class="home-tiles-group">

    <% @featured_causes.each do |cause| %>
	<div class="home-tile-single tile-2-2 nopadding  small-height-auto">
	    <div class="tile-header-image slimit" style="background-image: url(<%= cause.picture.url %>);"></div>
	    
	   
	    
	    <div class="columns blimit">
		<h3 class="bold"><%= cause.name %></h3>
		<h4 class="tertiary"><%= "#{cause.city}, #{cause.state}" %></h4>
	    </div>
	    
	    <%= render "shared/tilebutton" %>
	</div>
	<% end %>

	
    </div>
    <div class="home-tiles-group">
	<% for cause in Cause.find(:all) %>
	
	<div class="home-tile-single tile-2-2 nopadding small-height-auto" cause-id="<%= cause.id %>">
	    <div class="tile-header-image slimit" style="background-image: url(<%= cause.picture.url %>);"></div>
	    
	    <div class="columns blimit">
		<h3 class="bold"><%= cause.name %></h3>
		<h4 class="tertiary"><%= "#{cause.city}, #{cause.state}" %></h4>
	    </div>
	    
	    
	    
            <%= render "shared/tilebutton-follow" %>

	</div>
	<% end %>

    </div>

	
    
  
</div>





<div>

 




</div>
<%= render "shared/mainfooter" %>