<% @title = @user.display_name%>
<%= render "shared/mainheader" %>

<div class="home-tiles-container mlimit-top">
    <div class="home-tiles-group">
	
	<div class="home-tile-single tile-2-2 nopadding" style="background: url(<%= @user.avatar.url%>) center;background-size: cover"></div>
	<div class="home-tile-single tile-2-2 text-center small-height-auto">
	    <div class="mlimit mlimit-top">
	    <h2>AMBASSADOR LEVEL</h2>
	    <h1 class="big-number"><%= @user.level%></h1>		
	    </div>

	</div>	
	<div class="home-tile-single tile-4-4 small-height-auto">
	    <h1><%= @user.display_name %></h1>
	    <h4 class="mlimit secondary"><%= @user.location %></h4>
	    <div class="cyan-button"><%= link_to "Edit profile", profiles_edit_path %></div>
	    <h3><%= @user.bio%></h3>
	    <h2 class="yellow-text mlimit-top">Ways <%= @user.first_name %> has helped</h2>

	    

	</div>
    </div>
    <div class="home-tiles-group">
	<div class="home-tiles-group-header small-static slimit"><h2><%= @user.display_name %> is following <span class="yellow-text">48</span> causes</h2></div>
    <% @featured_causes.each do |cause| %>
	<div class="home-tile-single tile-2-2 nopadding  small-height-auto">
	    <div class="tile-header-image slimit" style="background-image: url(<%= cause.picture.url %>);"></div>
	    
	   
	    
	    <div class="columns blimit">
		<h3 class="bold"><%= cause.name %></h3>
		<h4 class="tertiary"><%= "#{cause.city}, #{cause.state}" %></h4>
	    </div>
	    
	    <%= render "shared/tilebutton" %>
	</div>
	<% end %>

	
    </div>
    <div class="home-tiles-group">
	<div class="home-tiles-group-header small-static slimit"><h2>Last stories</h2></div>
	
	<div class="home-tile-single tile-3-1 tileSlide nopadding">
	    <div class="slide"  style="background-image: url(assets/examples/story1.jpg);"></div>
	    <div class="slide"  style="background-image: url(assets/examples/story3.jpg);"></div>
	    
	    <div class="bottom-panel">		 
		<h4 class="secondary">FEATURED STORY</h4>
		<h3 class="arial bold">Carl Rogers</h3>		
	    </div>	    
	</div>
	<div class="home-tile-single tile-3-2 nopadding" style="background-image: url(assets/examples/story2.jpg);">
	    <div class="bottom-panel">		 
		<h4 class="secondary">FEATURED STORY</h4>
		<h3 class="arial bold">Carl Rogers</h3>		
	    </div>	    
	</div>	
	
	<div class="home-tile-single tile-3-1 yellow-bg no-min-height tileSlide nopadding">
	    <div class="slide m-padding"><h3>At the moment, there are more than 1.5 million nonprofit organizations registered in the U.S. </h3></div>
	    <div class="slide m-padding"><h3>The number is staggering. How do you find out. At the moment, there are more than 1.5 </h3></div>
	    
	</div>

	

	
    </div>    
    
    <div class="home-tiles-group">
	<div class="home-tiles-group-header small-static slimit"><h2>Follow causes</div>
	<% for cause in Cause.find(:all) %>
	
	<div class="home-tile-single tile-2-2 nopadding small-height-auto" cause-id="<%= cause.id %>">
	    <div class="tile-header-image slimit" style="background-image: url(<%= cause.picture.url %>);"></div>
	    
	    <div class="columns blimit">
		<h3 class="bold"><%= cause.name %></h3>
		<h4 class="tertiary"><%= "#{cause.city}, #{cause.state}" %></h4>
	    </div>
	    
	    
	    
            <%= render "shared/tilebutton-follow" %>

	</div>
	<% end %>

    </div>

	
    
  
</div>





<div>

 




</div>
<%= render "shared/mainfooter" %>