<%= render "devise/shared/mainheader" %>

<div class="home-tiles-container mlimit-top columns">
    <div class="home-tiles-group">
	
	<div class="home-tile-single tile-2-2 nopadding" style="background: url(<%= @user.avatar.url%>) center;background-size: cover"></div>
	<div class="home-tile-single tile-2-2 text-center">
	    <h2>AMBASSADOR LEVEL</h2>
	    <h1 class="big-number">2</h1>
	</div>	
	<div class="home-tile-single tile-4-4">
	    <h2><%= @user.display_name %></h2>
	    <h4 class="mlimit secondary">Chicago, IL</h4>
<<<<<<< HEAD
	    <h3>I’m a designer from Chicago and love to volunteer at events!  I have a strong love of Africa and hope to help in every way I can.</h3>
	    <h2 class="yellow-text mlimit-top">Ways Amy has helped</h2>
=======
	    <h3><%= @user.bio %></h3>
>>>>>>> 0ea80e6a5e68dd26c87f24fa14217df5a48f6290
	</div>
    </div>
    <div class="home-tiles-group">

	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t1.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
	    <h3>Chicago African Education Foundation</h3>
	    <%= link_to image_tag("examples/t1.jpg", alt: "Rails", class: "header-img"), 'http://rubyonrails.org/' %>
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    
	    <%= render "devise/shared/tilebutton" %>
	</div>
	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t2.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
	    <h3>Chicago African Education Foundation</h3>
	    <%= link_to image_tag("examples/t2.jpg", alt: "Rails", class: "header-img"), 'http://rubyonrails.org/' %>
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    <%= render "devise/shared/tilebutton" %>
	</div>
	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t3.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
	    <h3>Chicago African Education Foundation</h3>
	    <%= link_to image_tag("examples/t3.jpg", alt: "Rails", class: "header-img"), 'http://rubyonrails.org/' %>
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    <%= render "devise/shared/tilebutton" %>
	</div>
	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t4.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
	    <h3>Chicago African Education Foundation</h3>
	    <%= link_to image_tag("examples/t4.jpg", alt: "Rails", class: "header-img"), 'http://rubyonrails.org/' %>
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    <%= render "devise/shared/tilebutton" %>
	</div>

	
    </div>

	
    </div>
    <div class="home-tiles-group">

	<div class="home-tile-single tile-4-2"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div>
     <div class="home-tiles-group">

	<div class="home-tile-single tile-2-1"></div>
	<div class="home-tile-single tile-2-1"></div>
	<div class="home-tile-single tile-2-1"></div>
	
	<div class="home-tile-single tile-2-2"></div>
	<div class="home-tile-single tile-2-2"></div>	
    </div>   
</div>





<div>
    <%= link_to "Edit", profiles_edit_path%>
</div>
<div>
    <%=  render "follow_form" %>
</div>
<%= render "devise/shared/mainfooter" %>