<div id="causenav">
    {{
      view Ember.Select 
      contentBinding="controller.cities"
      selectionBinding="controller.activeCity" 
    }}
    {{
      view Ember.Select 
      contentBinding="controller.types"
      selectionBinding="controller.activeType" 
    }}
    <a class="nav" href="#" {{action "showmap"}}>
      MAP
    </a>
    <a class="nav" href="#" {{action "showgrid"}}>
      GRID
    </a>
      
</div>

<div id="mapwrapper">
  {{outlet}}
</div>
