<div class="row fullwidth mlimit-top">
    <div class="large-12 columns">
	<div class="back-arrow inline position-animation"></div>
	<h2 class="inline"><strong>Go back to Give Inspire</strong></h2>
    </div>    
</div>



<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2>Give Inspire Love is a Bright Future company.</h2>
	<h3 class="slimit">Tell us about the cause you’d like to add</h3>	  
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <div class="large-12 columns">
	<%= devise_error_messages! %>
    </div>
    
    <div class="large-6 columns">
	<div>
	    
	    <%= f.text_field :first_name, :autofocus => true,:placeholder => "first name", :class => "animation-color cascade-single" %>
	</div>

	<div>
	    
	    <%= f.text_field :last_name, :placeholder => "last name", :class => "animation-color cascade-single" %>
	</div>

	<div>
	   
	    <%= f.email_field :email,:placeholder => "email adress", :class => "animation-color cascade-single" %>
	</div>	  
    </div>
    <div class="large-6 columns">
	<div>
	    
	    <%= f.password_field :password,:placeholder => "password", :class => "animation-color cascade-single" %>
	</div>

	<div>
	    
	    <%= f.password_field :password_confirmation,:placeholder => "confirm password", :class => "animation-color cascade-single"  %>
	</div>	
	<div>
	    <div class="row">

		<div class="large-6 columns right text-right">
		    <%= f.submit "Sign up",:class => "animation-color button-submit cascade-single" %>
		</div>
	    </div>
	    
	</div>
    </div>
</div>
<div class="fixed-footer small-static">
<div class="row fullwidth">

    <div class="large-2 columns">
	<h2>Bright Future</h2>
	<p>
	    600 W. Chicago Ave.            
	    <br/>
	    Chicago IL 60654
	</p>
    </div> 
    <div class="large-4 columns left">
	<h2>About Bright Future</h2>
	<p>
	    GiveInspireLove uses technology and social networks to help you find local organizations that need you, making it easier than ever to give back to your community. 
	</p>
    </div> 
    <div class="large-2 columns">
	<h2 class="centered-text"><%= link_to image_tag("logo.png", alt: "Rails"), 'http://rubyonrails.org/' %></h2>
    </div>      
</div>    
</div>




<% end %>


