<% @title = "Good"%>



<%= render "shared/goback" %>

<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2><%= @good_need.name%></h2>
	<h3 class="slimit"><%= @good_need.description %></h3>	  
    </div>
    
	<div class="large-6 columns cascade-single left">
	    <div class="slimit"><h3>Address:</h3><%= @good_need.address %></div>
	</div>
    	<div class="large-6 columns cascade-single left">
	    <div class="slimit"><%= image_tag @good_need.picture %></div>
	</div>



</div>
<%= render "shared/footer" %>
