<%= content_for(:head) do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5nbu6QghhMZ7nUg8KppPc--tPG1QFWkA&sensor=true"> </script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>

  <script type="text/javascript">
    window.Application = window.Application || {};

    Application.data = Application.data || {};

    Application.data.causes = <%= @causes.to_json.html_safe %>;
    Application.data.locations = <%= @locations.to_json.html_safe %>;
    Application.data.needs = <%= @needs.to_json(:methods => :type).html_safe %>;
  </script>
<% end %>

<%= render "shared/map-corner-logo" %>

<div style="height:100%">
    <div class="row fullwidth" style="height:100%">
	<div class="large-3 nopadding push-9 columns map-bar map-menu position-animation" style="height: 100%;">
	    <div id="accordian-holder" style="height: 100%;"></div>
	</div>
	<div class="large-9 nopadding pull-3 columns " style="height: 100%;">
	    <div id="map-canvas" style="width: 100%; height: 100%: "></div>
	</div>
    </div>
    <div class="toggle-map">
      <%= image_tag("ui/cog.png", :alt =>  "Rails")  %>
    </div>

    <div class="popoverHolder"></div>
</div>
