<% @title = "Causes"%>
<% @additional_head_content= render 'google_maps_header' %>

<%= File.read("app/views/causes/_backbone_templates.html").html_safe %>
<%= render "shared/map-corner-logo" %>
<div style="height:100%">
    <div class="row fullwidth collapse" style="height:100%">

	<div class="large-2 push-10 columns map-bar" style="height: 100%;">
	    <div id="accordian-holder" style="height: 100%;"></div>
	</div>
	<div class="large-10 pull-2 columns" style="height: 100%;">
	    <div id="map-canvas" style="width: 100%; height: 100%: "></div>
	</div>	
    </div>




</div>

<script>

    var causesObj=<%= @causes.to_json.html_safe %>
	var locationsObj=<%= @locations.to_json.html_safe %>

	var donationsNeedsObj=<%= @donation_needs.to_json.html_safe %>
	var goodNeedsObj=<%= @good_needs.to_json.html_safe %>
	var volunteerNeedsObj=<%= @volunteer_needs.to_json.html_safe %>
	var socialNeedsObj=<%= @social_needs.to_json.html_safe %>

	var causesCollection=parseObjIntoModels(causesObj, Cause)
    var locationsCollection=parseObjIntoModels(locationsObj, Location)

    var donationsCollection=parseObjIntoModels(donationsNeedsObj, Backbone.Model.extend({ name:'donation_needs' }));

    var goodCollection=parseObjIntoModels(goodNeedsObj, Backbone.Model.extend({
	name:'good_needs'
    }))

    var volunteerCollection=parseObjIntoModels(volunteerNeedsObj, Backbone.Model.extend({
	name:'volunteer_needs'
    }))


    var map =createGoogleMap($('#map-canvas')[0])

    populateMapMarkers(map,locationsCollection.models)

    var filterOptions={'Causes':{'collection':causesCollection,
	    'filterFunction':function(model,id){
		return model.get('cause_id')==id
	    }

	},
	'Donation needs':{'collection':donationsCollection,
	    'filterFunction':function(model,id){
		var need=donationsCollection.get(id)
		return model.get('cause_id')==need.get('cause_id')
	    }

	},
	'Good needs':{'collection':goodCollection,
	    'filterFunction':function(model,id){
		var need=goodCollection.get(id)
		return model.get('cause_id')==need.get('cause_id')
	    }

	},
	'Volunteer needs':{'collection':volunteerCollection,
	    'filterFunction':function(model,id){
		var need=volunteerCollection.get(id)
		return model.get('cause_id')==need.get('cause_id')
	    }


	}
    }

    var filterView = new FilterView({
	el: $('#accordian-holder'),	
	locationsCollection:locationsCollection,
	filterOptions:filterOptions })



</script>