<% @title = "Cause needs"%>

<div >
    <div>
	<h2>Take action. There are <%= "#{pluralize(@cause.needs.count, "way") }"%> main ways you can help!</h2>
	<h3 class="mlimit">Every little bit counts</h3>	  
    </div>
<% @cause.needs.each do |need| %>
	<div class="large-6 columns cascade-single left">
	    
	    <%= link_to need do %>
	    <div ><%= image_tag("ui/need-good.png")  %><%= need.name %></div>
	    <% end %>
	</div>
	



<% end %>
    
</div>

<%= render "shared/footer" %>