

<%= render "shared/goback" %>


<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2>Take action. There are <%= "#{pluralize(@allNeeds.count, "way") }"%> main ways you can help!</h2>
	<h3 class="mlimit">Every little bit counts</h3>	  
    </div>
<% @allNeeds.each do |needs|
	for need in needs%>
	<div class="large-6 columns cascade-single left">
	    
	    <%= link_to need do %>
	    <div class="action-button animation-color slimit"><%= image_tag("ui/need-good.png", :alt =>  "Rails", :class => "need-icon")  %><%= need.name %></div>
	    <% end %>
	</div>
	



<% end 
end %>
    
</div>

<%= render "shared/footer" %>