<% @title =  @cause.name %>
<%= render "shared/mainheader" %>



<br/>


<div class="home-tiles-container mlimit-top">
    <div class="home-tiles-group">

	<div class="home-tile-single tile-16-10 nopadding">
	    <iframe src="<%= @cause.video_link%>" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> 
	</div>

	<div class="home-tile-single tile-3-4 small-height-auto">
	    <h1><%= @cause.name %></h1>
	    <h4 class="mlimit secondary"><%= "#{@cause.city}, #{@cause.state}" %></h4>

	    <h3>
	    	<%= @cause.description %>
		</h3>

	    <div class="pink-big-button slimit slimit-top">
		
		<h2><%=  link_to "#{pluralize(@cause.needs.count, "way") } to help", "/causes/need/#{@cause.id}"  %></h2>

		
	    </div>
	    <div class="fb-like" data-href="<%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>" data-send="true" data-width="300" data-show-faces="true"></div>
	    
	    <% if @cause.twitter_handle%>
			<%= render "causes/twitter_handle"%>
		<% end %>

	<% if current_user.causes.include? @cause %>
		<div class="bottom-button bold animation-color follow-cause">You are already following this cause</div>

	<% else %>	
	<div class="bottom-button bold animation-color follow-cause"><%= link_to "FOLLOW THIS CAUSE", "/profiles/follow_cause/#{@cause.id}" %></div>
	</div>
	<% end %>
    </div>
 



</div>
<div>

</div>
<%= render "shared/mainfooter" %>

