<%= render "devise/shared/uppernotice" %>
<%= render "devise/shared/goback" %>
<%= form_for(@cause_application) do |f| %>

<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2>New Cause Application.</h2>
	<h3 class="slimit">Tell us about the cause you’d like to add</h3>	  
    </div>
<% if @cause_application.errors.any? %>
<div class="large-12 columns">
    <h3><%= pluralize(@cause_application.errors.count, "error") %> prohibited this cause_application from being saved:</h3>

    <ul class="slimit">
	<% @cause_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
	<% end %>
    </ul>
</div>
<% end %>    
    
	   
    <div class="large-6 columns">
	<div>

	    <%= text_field(:cause_application, :name,:placeholder => "name", :class => "animation-color cascade-single") %>
	</div>

	<div>

	    <%= text_field(:cause_application, :email,:placeholder => "email", :class => "animation-color cascade-single") %>
	</div>

	<div>

	    <%= text_field(:cause_application, :phone_number,:placeholder => "phone number", :class => "animation-color cascade-single") %>
	</div>	  
    </div>
    <div class="large-6 columns">
	<div>

	    <%= text_field(:cause_application, :org_name,:placeholder => "organization name", :class => "animation-color cascade-single") %>
	</div>

	<div>

	    <%= text_field(:cause_application, :website,:placeholder => "website", :class => "animation-color cascade-single") %>
	</div>
	<div>

	    <%= text_field(:cause_application, :mission,:placeholder => "your mission", :class => "animation-color cascade-single") %>
	</div>

	<div>
	    <div class="row">

		<div class="large-6 columns right text-right">
		    <%= f.submit "Create Cause application",:class => "animation-color button-submit cascade-single"  %>
		</div>
	    </div>

	</div>
    </div>
</div>
<%= render "devise/shared/footer" %>
<% end %>
