<% @title = "Volunteer"%>


<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2><%= @volunteer_need.name%></h2>
	<h3 class="slimit"><%= @volunteer_need.description %></h3>	  
    </div>
 
    

    <div class="large-6 columns">

    <div class="cascade-single slimit">
	
	    <%= "#{@volunteer_need.start_date.strftime('%A %B %d at %I:%M %p')} to #{@volunteer_need.end_date.strftime('%A %B %d at %I:%M %p')}" %>
	</div>


	<div class="cascade-single slimit">
	
	    <%= @volunteer_need.address %>
	</div>

	

    </div> <div class="large-6 columns">
	<div>

	    <%= link_to "Sign up", new_volunteer_path({:volunteer_need_id=>@volunteer_need.id}),:class => 'animation-color button-submit cascade-single' %>
	</div>
    </div>

</div>

