<%= @subscribe.inspect %>
<%= form_for(@subscribe) do |f| %>
  <% if @subscribe.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@subscribe.errors.count, "error") %>:</h3>

      <ul>
      <% @subscribe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    Your email <%= text_field(:subscribe, :email) %><br/>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
