<%= render "devise/shared/mainheader" %>

<%= if user_signed_in? 
     link_to 'Logout', destroy_user_session_path, :method=>'delete' 
 	else
 	 createLink= link_to 'Create User Account', new_user_registration_path
 	 loginLink=link_to 'Login', new_user_session_path
 	 createLink+' | '+loginLink
 	 
 	end
 %>


 <div class="home-tiles-container mlimit-top columns">
     <div class="home-tiles-group">

	 <div class="home-tile-single tile-4-2 nopadding" style="background-image: url(assets/examples/h1.jpg);">
	     <div class="bottom-panel">		 
		 <h4 class="tertiary">FEATURED CAUSE</h4>
		 <p>Books for Bangladesh</p>
		 <div class="tile-small-button right">Take action</div>
	     </div>
	 </div>
	 <div class="home-tile-single tile-2-2 small-height-auto">
	     <h2 class="slimit">Immediate Needs</h2>
	     <ul>
		 <li><a href="#">Cancer Kids of America</a></li>
		 <li><a href="#">Live United</a></li>
		 <li><a href="#">Veterans for Peace</a></li>
		 <li><a href="#">Action is Everything</a></li>
		 <li><a href="#">Support Uganda</a></li>
	     </ul>
	 </div>
	 <div class="home-tile-single tile-2-2 small-height-auto">	     	
	     <h2 class="slimit">New Causes</h2>
	     <ul>
	     	<% @new_causes.each do |cause| %>
	     	<li><%= link_to cause.name, cause %></li>
		 
	     	<% end %>
		 
	     </ul>
	 </div>
	 <div class="home-tile-single tile-2-1 nopadding" style="background-image: url(assets/examples/h2.jpg);">
	     <div class="bottom-panel">		 
		 <h4 class="tertiary">FEATURED CAUSE</h4>
		 <p>Woman in Iran</p>
		 <div class="tile-small-button right">Take action</div>
	     </div>	     
	 </div>
	 <div class="home-tile-single tile-2-1 nopadding" style="background-image: url(assets/examples/h3.jpg);"></div>

     </div>
     <div class="home-tiles-group">

	 <div class="home-tile-single tile-16-10 nopadding">
	     <iframe src="<%= @cause.video_link %>" width="100%" height="100%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	 </div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>


     </div>     
    <div class="home-tiles-group">

	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t1.jpg", :alt => "Rails"), 'http://rubyonrails.org/' %>
	   
	    
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    
	    <%= render "devise/shared/tilebutton" %>
	</div>
	

	
    </div>

	
    
  
</div>
 
 


<%= render 'subscribes/form' %>

<%= link_to 'Profile', profiles_path %>

<%= link_to 'Causes', causes_path %>

<%= render "devise/shared/mainfooter" %>