<%= render "shared/mainheader" %>

<% @additional_head_content= render 'shared/google_maps_header' %>

<div id="header">

    <div class="right header-nav">
    <% @featured_causes.each do |cause| %>	
		<%= render 'featured_cause', :cause => cause %>
	<% end %>

    </div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition">
	<div class="row">
	    <div class="header-slogan"></div>
	</div>
    </div>
    <div style="background-image: url(assets/h2.jpg);"class="header-slide transition"></div>
    <div style="background-image: url(assets/h1.jpg);"class="header-slide transition"></div>    
    <div class="cboth"></div>

</div>
<div id="sub-header" class="mlimit">
    <div class="row">
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/map-icon.png"/>
	    <h3 class="oxygen no-margin">Find quality causes in your area</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/step-icon.png"/>
	    <h3 class="oxygen no-margin">Take small steps TODAY to get involved</h3>
	</div>
	<div class="large-4 columns mlimit">
	    <img class="left mlimit-right" src="assets/star-icon.png"/>
	    <h3 class="oxygen no-margin">Get recognized for your support</h3>
	</div>

    </div>
</div>

<div id="causes" class="mlimit">
    <div class="row">
	
	<% @recent_needs.each do |need| %>
		<%= render 'featured_need', :need => need %>
	<% end %>	

    </div>
</div>

<div class="row blimit">
    <div class="large-12 columns">
	<div class="group-header">Find quality causes in your area</div>
	<div id="mapHolder"></div>  	
    </div>
    <div class="large-12 columns text-right purple-text slimit-top">View all causes in your area</div>
    <div class="cboth"></div>
</div>

<div class="row blimit text-center" id="companies">
    <img src="assets/companies.png"/>
</div>




<%= render "shared/mainfooter" %>
<script>
    var causesCollection=parseObjIntoModels(<%= @causes.to_json.html_safe %>, Cause)
    var locationsCollection=parseObjIntoModels(<%= @locations.to_json.html_safe %>, Location)
    var map = createGoogleMap( $('#mapHolder')[0])
    populateMapMarkers(map,locationsCollection.models)
</script>