<%= render "shared/mainheader" %>

<div class="home-tiles-container slimit-top large-mlimit-left">
    <div class="home-tiles-group">


    <% cause= @featured_causes.pop  %>

	<div class="home-tile-single tile-4-2 nopadding" style="background-image: url(<%= cause.picture.url %>);">
	    <div class="bottom-panel">		 
		<h4 class="tertiary">FEATURED CAUSE</h4>
		<h2 class="arial"><%= cause.name %></h2>
		<div class="tile-small-button right arial"><%= link_to "TAKE ACTION", cause%></div>
	    </div>
	</div>


	<div class="home-tile-single tile-2-2 small-height-auto">
	    <h2 class="slimit">Immediate Needs</h2>
	    <ul class="high-list">
	    	<% @recent_needs.each do |need| %>
	    		<li><%= link_to need.name, need %></li>
	    	<% end %>
		
	    </ul>
	</div>
	<div class="home-tile-single tile-2-2 small-height-auto">	     	
	    <h2 class="slimit">New Causes</h2>
	    <ul class="high-list">
		<% @new_causes.each do |cause| %>
		<li><%= link_to cause.name, cause %></li>

		<% end %>

	    </ul>
	</div>

	<% @featured_causes.each do |cause| %>

	<div class="home-tile-single tile-2-1 nopadding" style="background-image: url(<%= cause.picture.url %>);">
	    <div class="bottom-panel">		 
		<h4 class="tertiary">FEATURED CAUSE</h4>
		<h3 class="arial"><%= cause.name %></h3>
		<div class="tile-small-button right"><%= link_to "TAKE ACTION", cause%></div>
	    </div>	     
	</div>

	<% end %>

    </div>
    
    <div class="home-tiles-group">
	<div class="home-tile-single tile-16-10">
	    <iframe width="100%" height="100%" src="http://www.youtube.com/embed/UYNkc2SS8jg" frameborder="0" allowfullscreen></iframe>
	</div>
    </div>
    
     <div class="home-tiles-group">
	<div class="home-tile-single tile-4-1 blank nopadding small-height-auto">
	    <div class="row">
		<div class="large-12 columns">    	     
	     
		</div>
		<div class="large-12 columns slimit">
		    <h2 class="arial cyan-text bold inline">TAKE THE FIRST ACTION! </h2> <h2 class="arial bold inline">Be in the know!</h2>
		</div>
		
		<div class="large-8 small-8 columns">
		    <input type="text" placeholder="your email">
		</div>
		<div class="large-4 small-4 text-right columns">
		    <input type="submit" class="animation-color button-submit cascade-single">
		</div>
		<div class="cboth slimit-top large-12 columns">
		    <h4>YOUR EMAIL WILL BE NEVER SHARED</h4>
		</div>

	     
	    </div>
	</div>
	 <div class="home-tile-single tile-4-2 small-height-auto nopadding cyan-bg">
	     <div class="columns mlimit-top mlimit">
		 <div class="columns">
		     <h2>Lorem ipsum</h2>
		 </div>
	     </div>
	 </div>
	 <div class="home-tile-single tile-4-1 small-height-auto" style="background-image: url(assets/examples/h4.jpg);">
	     <div class="bottom-panel">	
		 <h2 class="arial bold">Lorem ipsum dolor</h2>
	     
	     </div>
	 </div>

	 
    </div>



</div>





<%= render "shared/mainfooter" %>