<%= render "devise/shared/mainheader" %>

<%= if user_signed_in? 
     link_to 'Logout', destroy_user_session_path, :method=>'delete' 
 	else
 	 createLink= link_to 'Create User Account', new_user_registration_path
 	 loginLink=link_to 'Login', new_user_session_path
 	 createLink+' | '+loginLink
 	 
 	end
 %>


 <div class="home-tiles-container mlimit-top columns">
     <div class="home-tiles-group">

	 <div class="home-tile-single tile-4-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>

     </div>
     <div class="home-tiles-group">

	 <div class="home-tile-single tile-16-10 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>
	 <div class="home-tile-single tile-2-2 nopadding"></div>


     </div>     
    <div class="home-tiles-group">

	<div class="home-tile-single tile-2-2 nopadding">
	    <%= link_to image_tag("examples/t1.jpg", alt: "Rails"), 'http://rubyonrails.org/' %>
	   
	    
	    <div class="columns">
		<h3 class="bold">Chicago African Education Foundation</h3>
		<h4 class="tertiary">Chicago, IL</h4>
	    </div>
	    
	    <%= render "devise/shared/tilebutton" %>
	</div>
	

	
    </div>

	
    
  
</div>
 
 


<%= render 'subscribes/form' %>

<%= link_to 'Profile', profiles_path %>

<%= link_to 'Causes', causes_path %>

<%= render "devise/shared/mainfooter" %>