<%= render "shared/goback" %>

<% @title ="Give money" %>

<div class="row blimit-top blimit cascade">
    <div class="large-12 columns cascade-single">
	<h2><%= @donations_need.name%></h2>
	<h3 class="slimit"><%= @donations_need.description %></h3>	  
    </div>
 
    

    <div class="large-6 columns">
    </div> <div class="large-6 columns">
	<div>

	   <%= link_to "Donate", new_donation_path({:donations_need_id=>@donations_need.id}),:class => 'animation-color button-submit cascade-single' %>
	</div>
    </div>

</div>
<%= render "shared/footer" %>



