<!DOCTYPE html>
<html>
    <head>
        <title><%= render_title %></title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
        	<%= javascript_include_tag 'application'%>
        <%= csrf_meta_tags %>
        <%= additional_head_content %>
    </head>
    <body>
        <div class="fs-bg-back"></div> <!-- its needed to catch mousewheel event no matter if mouse is over any dom element !-->

	<div id="giveinspirelove">
	    
	    <div id="fb-root"></div>
	    <script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=522975807713941";
		fjs.parentNode.insertBefore(js, fjs);
	    }(document, 'script', 'facebook-jssdk'));</script>

	    <% if flash[:notice] %>
  	    <div class="fs-bg">  
      		<div class="fs-message">
      		    <%= flash[:notice] %>
      		</div>
  	    </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="fs-bg">  
          <div class="fs-message fs-message-alert">
              <%= flash[:alert] %>
          </div>
        </div>
      <% end %>


	    <% if flash[:error] %>
	    <div class="error fs-message"><%= flash[:error] %></div>
	    <% end %>
	    <div class="ismobileflag"></div>
	    <%= yield %>

	    <%= render "shared/js_snippits"%>
	</div>
    </body>
</html>
